extends ../layout/index

block  contenido

    div(class="py-10 text-slate-900")
        h1(class="text-4xl my-10 font-extrabold text-center") Venta de
            span(class="font-normal text-slate-600")  Propiedades
        h2(class= "text-center text-3xl font-extrabold")= pagina

        p(class="text-xl font-bold text-center my-10")= mensaje 